{% extends 'app/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<!-- Aqui va lo que cambia, y lo asociado a esta vista:=) -->
<!-- Aqui va lo que cambia, y lo asociado a esta vista:=) -->
{% if miFormulario.errors %}

<p style="color:red;"> Están mal los datos revisar </p>
{% endif %}
<h1 style="color:palevioletred"> Estudiantes </h1>
<p> Información de los estudiantes </p>
<form action="" method="POST" > {% csrf_token %}
    
    <table>

            {{ miFormulario.as_table }}

    </table>
    <input type="submit", value="Enviar">
    
</form>


{% endblock %}