{% extends "app/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1 style="color:chartreuse">INICIO </h1>
  

    <h3>Podes buscar una camada ingresandola a continuación:</h3>

    <form action="/mi_app/buscar/" method="GET">

        <input type="number" name="camada" id="camada">

        <input type="submit" value="Buscar">




    </form>

    

    {% if cursos %}

    <p>Estamos buscando el: {{camada}}</p>

    <ul>
	{% for curso in cursos %}
		<li> {{curso.nombre}} </li>
		<li> {{curso.camada}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}